bert-score
blobfile
datasets
huggingface-hub==0.4.0
mpi4py
nltk
numpy              
pandas 
protobuf 
rouge-score  
sacrebleu   
sacremoses   
scikit-learn  
scipy
spacy     
tokenizers    
torchmetrics  
tqdm     
transformers==4.18.0
sentence-transformers==2.2.2
contractions
ftfy
inflect
tensorboardX
vaderSentiment
jsonschema
jq
msgpack
seaborn
sentencepiece
nervaluate
beautifulsoup4
regex
bigmpi4py
networkx
